<template>
  <div class="columns">
    <div class="column is-narrow sidebar">
      <SideBar></SideBar>
    </div>
    <div class="column">
      <NavBar></NavBar>
      <router-view >
      </router-view>
    </div>
    

  </div>
</template>
<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'
import NavBar from '@/components/NavBar.vue'
import SideBar from '@/components/SideBar.vue'
export default {
  name: 'home',
  components: {
    NavBar,
    SideBar
  },
  data(){
    return{
      id_area: "",
    }
  }
}
</script>

