<template>
	<div class="column is-3" >
		Cantidad de becarios segun porcentaje de beca
		<apexchart style="width: 100%" type="bar" :options="data.Options" :series="data.serie" ></apexchart>
	</div>
</template>
<script>
	export default{
		name: 'BecariosByPercent',
    mounted(){
      this.getData();
    },
    props:{
      data50:{
        type: Array,
        required: true
      },
      data100:{
        type: Array,
        required: true
      }
    },
    data(){
      return{
        Options: {
          chart: {
            id: 'BecariosByPercent',
          },
          plotOptions: {
            bar: {
              horizontal: false,
              endingShape: 'rounded',
              columnWidth: '70%',
            },
          },
          stroke: {
            show: true,
            width: 45,
            colors: ['transparent']
          },
          xaxis: {
            categories: ['50%', '100%'],
             position: 'top',
            labels: {
              offsetY: -38,
            },
            axisBorder: {
              show: false
            },
            axisTicks: {
              show: false
            },
          },
          colors: ['#00E396', 'black']
        },
        serie: [
        {
          name: 'Becarios con beca de 50%',
          data: []
        },
        {
          name: 'Becarios con beca de 100%',
          data: []
        },
        ],
      }
    },
    methods:{
      getData() {
        this.series[0].data = this.data50;
        this.series[1].data = this.data100;
	   },
    }
	}