<template>
  <div class="column is-narrow sidebar">
    <div class="sidebar-header">
      <strong>Quantum</strong>
    </div>
    <div class="sidebar-body">
      <div :class="getUrl() == 'home' ? 'item active': 'item'">
        <router-link to="/home" :click="getUrl()"><i class="icon ion-ios-home"></i>Home</router-link>  
      </div>
      <div :class="getUrl() == 'graficos' ? 'item active': 'item'">
        <router-link to="/graficos" :click="getUrl()"><i class="icon ion-ios-trending-up"></i>Gráficos</router-link>  
      </div>
      <div class="item">
        <a><i class="icon ion-md-grid"></i>Areas</a>  
      </div>
      <div class="item">
        <a><i class="icon ion-ios-contacts"></i>Gestores</a>  
      </div>
      <div class="item">
        <a><i class="icon ion-ios-business"></i>Empresas</a>  
      </div>
      <div class="item">
        <a><i class="icon ion-md-clipboard"></i>Documentos</a>  
      </div>
      <div :class="getUrl() == 'becarios' ? 'item active': 'item'">
        <router-link to="/becarios"><i class="icon ion-ios-people"></i>Becarios</router-link>  
      </div>
    </div>
    <div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SideBar',
  props: {
    msg: String
  },
  mounted(){
    
  },
  data(){
    return{

    }
  },
  methods:{
    getUrl: function(){
      //console.log(this.$route.name);
      return  this.$route.name;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>