<template>
	<div class="columns is-multiline">
		<div class="column is-12">
			<div class="columns">
				<div class="column is-4">
					<div class="field has-addons has-addons-right">
					  <p class="control has-icons-left">
					    <input class="input" type="text" placeholder="Nombre.Apellido" v-model="nombre_alumnno">
					    <span class="icon is-small is-left">
					      <i class="icon ion-ios-person-add"></i>
					    </span>
					  </p>
					  <p class="control">
					    <a class="button is-primary" @click="insertRegister()">
					      Ingresar
					    </a>
					  </p>
					</div>
				</div>
			</div>
		</div>
		<div class="column is-12">
			<div class="columns is-multiline" style="margin-top:2vh; padding:2%;">
				<div v-if="listado != ''" class="column is-2" v-for="(value,key,index) in listado">
				  <div class="card-department" align="center">
				    <div class="card-department-header">
				      <div class="circle" style="background-color: white !important;" >
				        <i class="icon ion-ios-contact contact icon is-large" :style="{color: setStateColor(key)}"></i>
				        <div class="item" >
				          <a>
				            <span v-if="key % 3 == 0" class="notify-badge" :style="{background: 'red'}"></span>
				          </a>
				        </div>
				      </div>
				    </div>
				    <div class="card-department-body is-centered">
				      <p><strong>{{value.firstName+" "+value.lastName}}</strong></p>
				      <div class="columns is-multiline">
				        <div class="column is-half has-text-right">
				          <i class="icon ion-ios-person-add"></i>
				        </div>
				        <div class="column is-half has-text-left">
				          <i class="icon ion-ios-mail"></i>
				        </div>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- listado de alumnos por area -->
				<div v-if="listado_area != ''" class="column is-2" v-for="(value,key,index) in listado_area">
				  <div class="card-department" align="center" @click="changeState(value, value.Estado)">
				    <div class="card-department-header">
				      <div  @click="changeState(value, value.Estado)" class="circle" style="background-color: white !important;" >
				        <i class="icon ion-ios-contact contact icon is-large" :style="{color: setStateColor(value.Estado)}"></i>
				        <div class="item" >
				          <a>
				            <!--<span v-if="key % 3 == 0" class="notify-badge" :style="{background: 'red'}"></span>-->
				          </a>
				        </div>
				      </div>
				      
				    </div>
				    <div class="card-department-body is-centered">
				      <a @click="changeState(value, value.Estado)">{{value.idStudent}} </a>
				      <div class="columns is-multiline">
				        <div class="column is-half has-text-right">
				          <i class="icon ion-ios-person-add"></i>
				        </div>
				        <div  class="column is-half has-text-left">
				          {{value.hours}}
				        </div>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import axiosApi from 'axios';
	export default{
		name: 'asistencias',
		mounted(){
			console.log("Llamando desde el mounted")
			this.getData();
			console.log("Fin desde el mounted")
			//console.log(JSON.stringify(this.listado_area));
		},
		data(){
			return{
				listado: '',
				listado_area: '',
				nombre_alumnno: '',
				idControler: ''
			}
		},
		methods:{		
			getData() {				
				let dataToPrint=[];
				this.listado_area = '';				
				if(this.$parent.id_area != ""){
					console.log("Hay area"+ this.$parent.id_area);
					axiosApi.post('http://172.22.1.115:8081/quantumvalley/public/api/dashboardAttendance',{
						idArea: this.$parent.id_area
					})
	        .then((response)=> {						
						response.data.becarios.forEach(scholar=>{
						    let exist=false; 
						    let tempScholar='';						    
						    response.data.areas.forEach(area=>{												
					        if(scholar.idStudent===area.idStudent){
				            exist=true;
				            tempScholar=area;				            
				        	}
								})									
									if(exist!=true){
											dataToPrint.push({
												"idStudent": scholar.idStudent,
												"area": "",
												"Estado": "desactivado",
												"hours": "0.00"
										});									
									}else{
										dataToPrint.push(tempScholar);										
									}								
								exist=false;
						})
						this.listado_area = dataToPrint;												
	        })
	        .catch(function (error) {
	          // handle error
	        })
	        .then(function () {
	          // always executed
	        });

				}
				else{
					axios.get('scholars')
	        .then((response)=> {
	          this.listado = response.data.scholars
	          //console.log(response);
	        })
	        .catch(function (error) {
	          // handle error
	        })
	        .then(function () {
	          // always executed
	        });
				}	
				return dataToPrint;			
			},	
      setStateColor(key){
      	var color = "";
      	if(key  == "activado"){
      		color = "green";
      	}
      	else if(key  == "desactivado"){
      		color = "gray";
      	}
      	return color;
			},			
      changeState(arr, state){
      	var date = new Date();
      	var estado = false;
      	if(state == "activado"){
      		estado = true;
      	}
      	else{
      		estado = false;
      	}
      	var probando_json = {
      		idPersona: arr.idStudent, 
	        idEvento: this.$parent.id_area,
	        fecha:date.getFullYear()+"-"+this.parsearFecha(date.getMonth()+1)+"-"+this.parsearFecha(date.getDate())+" "+this.parsearFecha(date.getHours())+":"+this.parsearFecha(date.getMinutes())+":"+this.parsearFecha(date.getSeconds()),
	        tipoRegistro:"Alumno",
	        esPar: estado,
	        validado:1,
	        valido:true
      	}
      	console.log(JSON.stringify(probando_json));
      	axiosApi({
      		method: 'post',
      		url:'http://172.22.1.115:8081/quantumvalley/public/api/registrar',
      		headers: {'Content-Type': 'application/json'},
      		data: probando_json
				})
	        .then((response)=> {
	         this.getData();
	         //console.log("hey lo logre");
	         console.log(response.data);
	        })
	        .catch(function (error) {
	          // handle error
	        })
	        .then(function () {
	          // always executed
	        });
      	
      },
      parsearFecha(date){
      	var parsed_date = (date < 10 ? "0": "")+ date;
      	return parsed_date;
      },
      insertRegister(){
      	var date = new Date();
      	var json = {
      		idPersona: this.nombre_alumnno, 
	        idEvento: this.$parent.id_area,
	        fecha:date.getFullYear()+"-"+this.parsearFecha(date.getMonth()+1)+"-"+this.parsearFecha(date.getDate())+" "+this.parsearFecha(date.getHours())+":"+this.parsearFecha(date.getMinutes())+":"+this.parsearFecha(date.getSeconds()),
	        tipoRegistro:"Alumno",
	        esPar: false,
	        validado:1,
	        valido:true
      	}
      	console.log(JSON.stringify(json));
      	axiosApi({
      		method: 'post',
      		url:'http://172.22.1.115:8081/quantumvalley/public/api/registrar',
      		headers: {'Content-Type': 'application/json'},
      		data: json
				})
	        .then((response)=> {
	         this.getData();
	         
	         console.log(response.data);
	        })
	        .catch(function (error) {
	          // handle error
	        })
	        .then(function () {
	          // always executed
	        });
      },
      startAll(arr){
      	axiosApi({
      		method: 'post',
      		url:'http://172.22.1.115:8081/quantumvalley/public/api/registrar',
      		headers: {'Content-Type': 'application/json'},
      		data: arr
				})
	        .then((response)=> {
	         this.getData();
	         
	         console.log(response.data);
	        })
	        .catch(function (error) {
	          // handle error
	        })
	        .then(function () {
	          // always executed
	        });
      }
		}
	}
</script>