<template>
	<section>
    <div class="columns is-multiline">
      <div class="column is-one-quarter">
        <div class="control has-icons-left">
          <input class="input is-small"  placeholder="Buscar">
          
          <span class="icon is-left">
            <i class="ion-md-search"></i>
          </span>
        </div>
      </div>
      
        <table class="table is-striped is-fullwidth is-hoverable">
          <thead>
             <th><label class="checkbox">
                <input type="checkbox"></label></th>
             <th>Nombre</th>
             <th>Apellido</th>
             <th>Pais de origen</th>
             <th>Año</th>
             <th>Fecha de inicio</th>
             <th>Fecha de fin</th>
             <th>%</th>
             <th>Área</th>
             <th>Empresa</th>
             <th>Estado</th>
             <th><router-link to="/becarioscrear" class="tag">nuevo</router-link></th>
          </thead>
          <tbody>
            <tr v-for="(value,key,index) in becarios" :class="(index % 2) == 0 ?'active':''">
                <td><label class="checkbox">
                      <input type="checkbox"></label></td>
                <td>{{value.firstName}}</td>
                <td>{{value.lastName}}</td>
                <td>{{value.nationality}}</td>
                <td>{{value.schoolYear}}</td>
                <td>{{value.dateStart}}</td>
                <td>{{value.dateFinish}}</td>
                <td>{{value.scholarshipPercentage}}</td>
                <td>{{value.area}}</td>
                <td><a>{{value.company}}</a></td>
                <td>{{value.status}}</td>
                <td><div class="tags">
                  <span class="tag" @click="setData(value)">One</span>
                  <span class="tag is-danger" @click="deleteData(value.id)">Delete</span>
                </div></td>
            </tr>
            
            
          </tbody>
          <tfoot>
    
          </tfoot>
	      </table>
      </div>
       
       
  </section>
</template>
<script >
  
	export default{
		name: 'Becarios',
    mounted(){
      this.getData();
    },
    data(){
      return{
        becarios: "",
        search : '',
        becario: "",
        headers: [
        /*  {
            text: 'Dessert (100g serving)',
            align: 'left',
            sortable: false,
            value: 'name'
          },*/
          {text: 'Nombre',value: 'firstName  '},
          {text: 'Apellido',value: 'lastName  '},
          {text: 'Nacionalidad',value: 'nationality  '},
          {text: 'Año',value: 'schoolYear '},
          {text: 'Fecha de inicio',value: 'dateStart '},
          {text: 'Fecha de fin',value: 'dateFinish  '},
          {text: '%',value: 'scholarshipPercentage '},
          {text: 'Area',value: 'area  '},
          {text: 'Compañia',value: 'company'},
          {text: 'estado', value: 'status'}
        ]
      }
    },
    methods:{
      getData() {
        axios.get('scholars')

            .then((response)=> {
              this.becarios = response.data
              console.log(response);
            })
            .catch(function (error) {
              // handle error
            })
            .then(function () {
              // always executed
            });
      },
      setData(becario){
        this.becario = becario;
        alert(JSON.stringify(this.becario));
      },
      deleteData(ide){
        axios({
          method: 'delete',
          url: 'scholars/'+ide,
          
        }).then((response)=>{
          this.getData();
          alert("DELETED!");
        });
      }
      
    }
	}
</script>