<template>
	
        <div class="columns is-centered">
          <div class="column is-half">
            <section class="form">        
           <div class="box box-form">
            <div id="register-text">
              <router-link to="/becarios"><span><i class="icon ion-ios-arrow-dropleft"></i></span></router-link>REGISTER
            </div>
            <!--Primera fila de inputs-->
            <div class="field-body field-body-form">
             <div class="field">
               <label class="label">Nombre</label>
               <p class="control is-expanded has-icons-left">
                 <input class="input form-input" type="text" placeholder="" v-model="firstName">
                 <span class="icon is-small is-left">
                   <i class="icon ion-md-person"></i>
                 </span>
               </p>
             </div>
             <div class="field">
               <label class="label">Apellido</label>
               <p class="control is-expanded has-icons-left">
                 <input class="input form-input" type="text" placeholder="" v-model="lastName">
                 <span class="icon is-small is-left">
                   <i class="icon ion-md-person"></i>
                 </span>
               </p>
             </div>
           </div>
           <!--Segunda fila de inputs-->
           <div class="field-body field-body-form">
             <div class="field">
               <label class="label">País de origen</label>
               <p class="control is-expanded has-icons-left">
                  <select class="input form-input" v-model="nationality">
                    <option>El Salvador</option>
                    <option>España</option>
                  </select>
                 <span class="icon is-small is-left">
                   <i class="icon ion-ios-body"></i>
                 </span>
               </p>
             </div>
           </div>

           <div class="field-body field-body-form">
             <div class="field">
               <label class="label">Año</label>
               <p class="control is-expanded has-icons-left">
                  <select class="input form-input" v-model="schoolYear">
                    <option>Primero</option>
                    <option>Segundo</option>
                    <option>Tercero</option>
                    <option>Cuarto</option>
                  </select>
                 <span class="icon is-small is-left">
                   <i class="icon ion-ios-body"></i>
                 </span>
               </p>
             </div>
           </div>

           <!--Tercera fila de inputs-->
           <div class="field-body field-body-form">
             <div class="field">
               <label class="label">Fecha de Inicio</label>
               <p class="control is-expanded has-icons-left">
                 <input class="input form-input" type="text" placeholder="dd/mm/yyyy" v-model="dateStart">
                 <span class="icon is-small is-left">
                   <i class="icon ion-md-calendar"></i>
                 </span>
               </p>
             </div>
             <div class="field">
               <label class="label">Fecha de Fin</label>
               <p class="control is-expanded has-icons-left">
                 <input class="input form-input" type="text" placeholder="dd/mm/yyyy" v-model="dateFinish">
                 <span class="icon is-small is-left">
                   <i class="icon ion-md-calendar"></i>
                 </span>
               </p>
             </div>
           </div>
           <!--Cuarta fila de inputs-->
           <div class="field-body field-body-form">
             <div class="field">
               <label class="label">Porcentaje</label>
               <p class="control is-expanded has-icons-left">
                  <select class="input form-input" v-model="scholarshipPercentage">
                    <option>50%</option>
                    <option>100%</option>
                  </select>
                 <span class="icon is-small is-left">
                   <i class="icon ion-ios-body"></i>
                 </span>
               </p>
             </div>
             <div class="field">
               <label class="label">Área</label>
               <p class="control is-expanded has-icons-left">
                  <select class="input form-input" v-model="area">
                    <option>CT-web</option>
                    <option>CT-Santander</option>
                  </select>
                 <span class="icon is-small is-left">
                   <i class="icon ion-ios-body"></i>
                 </span>
               </p>
             </div>
           </div>

           <div class="field-body field-body-form">
             <div class="field">
               <label class="label">Empresa</label>
               <p class="control is-expanded has-icons-left">
                  <select class="input form-input" v-model="company">
                    <option>Uneat</option>
                    <option>Ambar</option>
                  </select>
                 <span class="icon is-small is-left">
                   <i class="icon ion-ios-body"></i>
                 </span>
               </p>
             </div>
           </div>

          <div class="has-text-centered">
            <a class="button button-form is-outlined is-medium" @click="sendBecario()"><b>Send</b></a>
          </div>

         </div><!--Box-->
       </section><!--Form section-->
          </div>
          
     </div><!--Fin de contenido-->
</template>
<script>
	export default{
		name: 'create-becarios',
    data(){
      return{
        id: null,
        firstName: "",
        lastName:"",
        nationality:"",
        schoolYear:"",
        dateStart:"",
        dateFinish:"",
        scholarshipPercentage:"",
        area:"",
        company:""
      }
    },  
    methods:{
      sendBecario(){
        if(this.id == null){
          this.newBecario();
        }
        else{
          this.updateBecario();
        }
      },
      newBecario(){
        axios({
          method: 'post',
          url: 'scholars',
          data:{
            firstName: this.firstName,
            lastName: this.lastName,
            nationality: this.nationality,
            schoolYear: this.schoolYear,
            dateStart: this.dateStart,
            dateFinish: this.dateFinish,
            scholarshipPercentage: this.scholarshipPercentage,
            area: this.area,
            company: this.company,
            status: "active"
          }
        }).then((response) =>{
          alert("DONE!");
          this.clearForm();
        });
      },
      updateBecario(){

      },
      clearForm(){
        this.id = null;
        this.firstName = "";
        this.lastName ="";
        this.nationality ="";
        this.schoolYear="";
        this.dateStart="";
        this.dateFinish="";
        this.scholarshipPercentage="";
        this.area="";
        this.company="";
      }
    }

	}
</script>