<template>
	<div class="columns is-multiline">
		<div class="column is-6" >
			Cantidad de becarios según porcentaje de beca
			<apexchart style="width: 100%" type="bar" :options="chartOptions" :series="series" ></apexchart>
		</div>
    <div class="column is-6" >
      Cantidad de becarios según empresa
      <apexchart style="width: 100%" type="bar" :options="chartOptionsBecariosEmpresa" :series="seriesBecariosEmpresa" ></apexchart>
    </div>
    <div class="column is-6" >
      Cantidad de becarios según agente
      <apexchart style="width: 100%" type="bar" :options="chartOptionsBecariosAgente" :series="seriesBecariosAgente" ></apexchart>
    </div>
    <div class="column is-6" >
      Porcentaje de becarios externos e internos
      <apexchart style="width: 100%" type="donut" :options="chartOptionsTipoBecarios" :series="seriesTipoBecarios" ></apexchart>
    </div>
    <div class="column is-9" >
      Cantidad de becarios según área
      <apexchart style="width: 100%" type="bar" :options="chartOptionsBecariosArea" :series="seriesBecariosArea" ></apexchart>
    </div>
	</div>
</template>
<script>
	import BecariosByPercent from '@/graphics/BecariosByPercent.vue';
	export default{
		name: 'graficos',
	  components: {
	    BecariosByPercent,
	  },
    mounted(){
      this.getData();
    },
    data(){
      return{
        
        //Grafico de becarios por percent
        chartOptions: {
          chart: {
            id: 'BecariosByPercen',
          },
          plotOptions: {
            bar: {
              horizontal: false,
              endingShape: 'rounded',
              columnWidth: '70%',
            },
          },
          stroke: {
            show: true,
            width: 45,
            colors: ['transparent']
          },
          xaxis: {
            categories: ['50%', '100%'],
             position: 'top',
            labels: {
              offsetY: -38,
            },
            axisBorder: {
              show: false
            },
            axisTicks: {
              show: false
            },
          },
          colors: ['#00E396', 'black']
        },
        series: [
        {
          name: 'Becarios con beca de 50%',
          data: []
        },
        {
          name: 'Becarios con beca de 100%',
          data: []
        },
        ],

        //Array becarios por area
        chartOptionsBecariosArea: {
          chart: {
            id: 'BecariosByArea',
          },
          plotOptions: {
            bar: {
              horizontal: true,
              endingShape: 'rounded',
              columnWidth: '100%',
            },
          },
          stroke: {
            show: true,
            width: 45,
            colors: ['transparent']
          },
          xaxis: {
            categories: [],
             position: 'bottom',
            
            axisBorder: {
              show: false
            },
            axisTicks: {
              show: false
            },
          },
          colors: ['#651fff', 'black']
        },
        seriesBecariosArea: [
        {
          name: "Becarios por area",
          data: []
        }],
        //Becarios por empresa
        chartOptionsBecariosEmpresa: {
          chart: {
            id: 'BecariosByEmpresa',
          },
          plotOptions: {
            bar: {
              horizontal: false,
              endingShape: 'rounded',
              columnWidth: '100%',
            },
          },
          stroke: {
            show: true,
            width: 45,
            colors: ['transparent']
          },
          xaxis: {
            categories: [],
             position: 'bottom',
            
            axisBorder: {
              show: true
            },
            axisTicks: {
              show: false
            },
          },
          colors: ['#00E396', 'black']
        },
        seriesBecariosEmpresa: [
        {
          name: "Becarios por Empresa",
          data: []
        }],
        //Array Becarios por agente
        chartOptionsBecariosAgente: {
          chart: {
            id: 'BecariosByAgente',
          },
          theme: {
            monochrome: {
              enabled: true,
              color: '#255aee',
              shadeTo: 'light',
              shadeIntensity: 0.65
            }
          },
          plotOptions: {
            bar: {
              horizontal: false,
              endingShape: 'rounded',
              columnWidth: '100%',
            },
          },
          stroke: {
            show: true,
            width: 45,
            colors: ['transparent']
          },
          xaxis: {
            categories: [],
             position: 'bottom',
            
            axisBorder: {
              show: true
            },
            axisTicks: {
              show: false
            },
          },
          colors: ['#ec407a', 'black']
        },
        seriesBecariosAgente: [
        {
          name: "Becarios por Agente",
          data: []
        }],
        //Becarios externos e internos
        seriesTipoBecarios: [],
        chartOptionsTipoBecarios: {
          responsive: [{
            breakpoint: 200,
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: 'bottom'
              }
            }
          }],
          labels: ["Internos", "Externos"],
        }
      }
    },
    methods:{
      getData() {
        axios.get('infoapp').then((response)=> {
          console.log(JSON.stringify(response.data));
	        //Adding becarios por porcentajes
          this.series[0].data = [response.data.porcentaje_beca.cincuenta];
	        this.series[1].data = [response.data.porcentaje_beca.cien];


          //Adding becarios por area
          var arr = [];
          var pruebaDinamica = [];
          Object.keys(response.data.becarios_por_area).forEach(function(key) {
          arr.push(  response.data.becarios_por_area[key].number);
          pruebaDinamica.push(response.data.becarios_por_area[key].area);
            
          });
          this.seriesBecariosArea[0].data = arr;

          this.chartOptionsBecariosArea = { xaxis:{
           categories: pruebaDinamica
          }};
          //Adding becarios por empresa
          var arr2 = [];
          var pruebaDinamica2 = [];
          Object.keys(response.data.becarios_por_empresa).forEach(function(key) {
          arr2.push(  response.data.becarios_por_empresa[key].number);
          pruebaDinamica2.push(response.data.becarios_por_empresa[key].company);
          
          });
          this.seriesBecariosEmpresa[0].data = arr2;

          this.chartOptionsBecariosEmpresa = { xaxis:{
           categories: pruebaDinamica2
          }};
          
          //Adding becarios por agente
          var arr3 = [];
          var pruebaDinamica3 = [];
          Object.keys(response.data.becarios_por_agente).forEach(function(key) {
          arr3.push(  response.data.becarios_por_agente[key].number);
          pruebaDinamica3.push(response.data.becarios_por_agente[key].agent);
          
          });
          this.seriesBecariosAgente[0].data = arr3;

          this.chartOptionsBecariosAgente = { xaxis:{
           categories: pruebaDinamica3
          }};

          //Adding conteo conteo externos e internos
          var totalSuma = response.data.conteo_internos_externos.Interno + response.data.conteo_internos_externos.Externo;
          console.log((response.data.conteo_internos_externos.Interno*totalSuma)/100);
          this.seriesTipoBecarios.push((response.data.conteo_internos_externos.Interno*totalSuma)/100);
          console.log(this.seriesTipoBecarios);
          this.seriesTipoBecarios.push((response.data.conteo_internos_externos.Externo*totalSuma)/100);
          console.log(this.seriesTipoBecarios);

	      }).catch(function (error) {
	        // handle error
	        console.log(error);
	      }).then(function () {
	        // always executed
	      });
	     },

    }
	}
	

</script>