<template>
  <div class="columns is-multiline" style="margin-top:2vh; padding:2%;">
    <div class="column is-3" v-for="(value,key,index) in department">
      <div class="card-department" align="center">
        <div class="card-department-header">
          <div class="circle" :style="{background:value.colour}" title="Cantidad de becarios">
            {{value.numScholars}}
          </div>
        </div>
        <div class="card-department-body is-centered">
          <h3 @mouseover="setIdArea(value.name)"><strong><router-link  @mouseover="setIdArea(value.name)" to="/asistencias">{{value.name}}</router-link></strong></h3>
          <p>{{value.agent}}</p>
        </div>
      </div>
    </div>
    
  </div>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'
import NavBar from '@/components/NavBar.vue'
import SideBar from '@/components/SideBar.vue'
export default {
  name: 'home',
  components: {
  	NavBar,
  	SideBar
  },
  mounted(){
  	this.getData();
  },
  data(){
    return{
      department: "",
    }
  },
  methods:{
  	getData(){
        axios.get('areas')

            .then((response)=> {
              this.department = response.data.areas
              //console.log(response.data);
            })
            .catch(function (error) {
              // handle error
              console.log(error);
            })
            .then(function () {
              // always executed
            });
      
  	},
    setIdArea(name){
      switch(name){
        case "Capacitación Becarios":
          this.$parent.id_area = 1;
          break;
        case "Kernel-CT-Santander":
          this.$parent.id_area = 2;
          break;
        case "Entrenamiento Becarios":
          this.$parent.id_area = 3;
          break;
        case "Intervención Ágil":
          this.$parent.id_area = 4;
          break;
        case "Servicios":
          this.$parent.id_area = 5;
          break;
        case "CT-WEB":
          this.$parent.id_area = 6;
          break;
        case "Envio Masivos":
          this.$parent.id_area = 7;
          break;
        case "Ordenación Académica":
          this.$parent.id_area = 8;
          break;
        case "Campus":
          this.$parent.id_area = 9;
          break;
        case "Tecnologías Educativas":
          this.$parent.id_area = 10;
          break;
        case "Sin Asignar  ":
          this.$parent.id_area = 11;
          break;
        default:
          this.$parent.id_area = 11;
          break;
      }
      //console.log("Area cambiada"+this.$parent.id_area);
    }
  },
  
}
</script>
