<template>
	<div>
		<div >
        <router-link to="/home" :click="getUrl()"><i class="icon ion-ios-home"></i>Home</router-link>  
      </div>
	</div>
</template>
<script>
	export default{
		name: 'main'
	}
</script>